body {
  text-align: center;
  background-color: #000;
  height: 100vh;
  overflow: hidden;
}

.display-flex-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.main-container {
  max-width: 420px;
  height: 100vh;
  margin: 0;
  background-color: antiquewhite;
}

.title {
  padding: 1em 0;
}
section {
  margin: 0 auto;
  width: 75%;
  height: 80%;
  display: grid;
}

.form-init {
  display: flex;
  flex-direction: column;
  align-items: start;
}

label {
  font-weight: 600;
}

input {
  margin-bottom: 1em;
  border: none;
  border-radius: 5%;
  width: 100%;
}

.btn {
  margin: 0 auto;
}

.results {
  overflow: scroll;
}

/* SPINNER CSS */
.animation-container {
  margin: 0;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  width: 20em;
  height: 20em;
  font-size: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader .face {
  position: absolute;
  border-radius: 50%;
  border-style: solid;
  animation: animate 3s linear infinite;
}

.loader .face:nth-child(1) {
  width: 100%;
  height: 100%;
  color: gold;
  border-color: currentColor transparent transparent currentColor;
  border-width: 0.2em 0.2em 0em 0em;
  --deg: -45deg;
  animation-direction: normal;
}

.loader .face:nth-child(2) {
  width: 70%;
  height: 70%;
  color: lime;
  border-color: currentColor currentColor transparent transparent;
  border-width: 0.2em 0em 0em 0.2em;
  --deg: -135deg;
  animation-direction: reverse;
}

.loader .face .circle {
  position: absolute;
  width: 50%;
  height: 0.1em;
  top: 50%;
  left: 50%;
  background-color: transparent;
  transform: rotate(var(--deg));
  transform-origin: left;
}

.loader .face .circle::before {
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  content: "";
  width: 1em;
  height: 1em;
  background-color: currentColor;
  border-radius: 50%;
  box-shadow: 0 0 2em, 0 0 4em, 0 0 6em, 0 0 8em, 0 0 10em,
    0 0 0 0.5em rgba(255, 255, 0, 0.1);
}

@keyframes animate {
  to {
    transform: rotate(1turn);
  }
}

/* CAROUSEL CSS */
.carousel-container {
  max-width: 700px;
  height: 100%;
  margin: 0 auto;
  background-color: antiquewhite;
  overflow: scroll;
}

.carousel-container::-webkit-scrollbar {
  width: 0 !important;
}

.btn-close {
  position: absolute;
  right: 0;
  z-index: 5;
  margin: 1em 1em 0;
}

.carousel-inner {
  padding: 1em;
  border: none;
  border-radius: 5%;
}

.carousel-item p {
  font-size: 14px;
}

.carousel-img {
  width: 50%;
  margin-bottom: 1em;
}

.carousel-indicators {
  margin: 0 !important;
  position: fixed;
  bottom: 0;
}

.carousel-indicators button {
  width: 15px !important;
  height: 15px !important;
  border-radius: 100%;
}

.modal-dialog {
  margin-top: 3.5em;
}

.modal-content {
  align-items: center;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  width: 60vw;
  gap: 1em;
}
.modal-body button {
  width: 100%;
}

.results-container {
  max-width: 420px;
  height: -webkit-fill-available;
  background-color: antiquewhite;
  display: grid;
  grid-template-rows: auto auto;
  align-items: center;
  padding: 1em 0;
}
.player_result {
  display: grid;
}
.results-img {
  display: flex;
}
.rounded-circle {
  width: 50%;
}

@media screen and (min-width: 420px) {
  body {
    background-image: url("../images/tarot/bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  .main-container {
    border-radius: 5%;
    height: 80vh;
    margin: 5em auto;
  }
  .animation-container {
    height: 100%;
    margin: auto;
  }
  .results-container {
    border-radius: 5%;
    height: 90vh;
    margin: 2em auto;
  }
  .carousel-container {
    border-radius: 5%;
    height: 80%;
    margin: 2em auto;
  }
  .btn-close {
    margin: 1em 1em 0;
  }
  .carousel-img {
    width: 20%;
  }
  .modal {
    --bs-modal-margin: 5.75rem;
  }
  .modal-body button {
    width: 50%;
  }
}

@media screen and (min-width: 720px) {
  .animation-container {
    height: 100%;
    margin: auto;
  }
}

@media screen and (min-width: 1240px) {
  .animation-container {
    height: 100%;
  }
}
